{# templates/lucky/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            {% for number in numbers %}
                <td>{{ loop.index0 }}</td>
            {% endfor %}
        </tr>
        <tbody>
            {% for number in numbers %}
                <td>{{ number }}</td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
